<div class="flex w-full justify-center">
  <div class="columns justify-center">
    <div class="flex justify-center bg-amber-300 h-20 ">
      <span class="self-center text-2xl">Hoje a quadra é de quem?</span>
    </div>

    <div class="flex justify-center  mt-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Quadra Coberta</mat-card-title>
          <mat-card-subtitle style="margin-top: 4px;">
            Professor: {{quadraDoDia.professor !== null ? quadraDoDia.professor : 'Sem informação'}}</mat-card-subtitle>
          <mat-card-subtitle>
            {{quadraDoDia.dia | date: 'dd/MM/yyyy'}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            {{quadraDoDia.message}}
          </mat-card-subtitle>
          <mat-card-subtitle style="margin-top: 10px;">
            Próximos dias:
            <div *ngFor="let day of proximos4Dias">
              {{day.dia | date: 'dd/MM/yyyy'}} -
              {{day.professor}}
            </div>
          </mat-card-subtitle>

        </mat-card-header>
        <div class="mt-4">
          <img mat-card-image src="assets/4.jpg">
        </div>
      </mat-card>

    </div>

  </div>
</div>
